<h2>Reactivos: <span>Dianamicos</span></h2>
<hr>

<form   action="" 
        autocomplete="off"
        [formGroup]="miFormulario"
        (ngSubmit)="guardar()">

        <!-- Nombre -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text"
                    class="form-control"
                    placeholder="nombre"
                    formControlName="nombre">
            <span class="form-text text-danger"
                  *ngIf="campoEsValido('nombre')"
                    >Debe ser de 3 letras</span>
        
        </div>
    </div>
<!-- Agregar favorito -->
    <div class="mb-3 row">
        <label for="" class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" 
                        class="form-control" 
                        placeholder="Agregar Fav"
                        >
                <button class="btn btn-outline-primary"
                        type="button"
                        >Anadir</button>
            </div>
        </div>
    </div>
    <!-- Lista de juegos fav -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Favoritos</label>
            <div class="col-sm-9" formArrayName="favoritos">
                <div class="input-group mb-1" 
                *ngFor="let favoritos of favoritosArr.controls; let i = index">

                <input   class="form-control"
                         [formControlName]="i">

                 <button class="btn btn-outline-danger"
                         type="button"
                         >Borrar</button>
            </div>
        </div>
    </div>
      


    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{miFormulario.valid}} </pre>
        
        <span>Value</span>
        <pre> {{miFormulario.value | json}} </pre>

        <span>pristine</span>
        <pre> {{miFormulario.pristine}} </pre>

        <span>touched</span>
        <pre> {{miFormulario.touched}} </pre>

        <span>Precio</span>
        <pre> {{miFormulario.controls['precio'].errors| json}} </pre>
    </div>
</div>