<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" 
              [formGroup]="miFormulario" 
              (submit)="submitFormulario()">
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text" 
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre y Apellido">
                    <span class="form-text text-danger"
                            *ngIf="campoNoValido('nombre')">
                        Debe de ser Nombre y Apellido
                    </span>
                </div>
            </div>
            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="correo electronico">
                    <span class="form-text text-danger"
                           *ngIf="campoNoValido('email')">
                       {{emailErrorMsg}}
                   </span>
                </div>
            </div>
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="username"
                           placeholder="Username">
                           <span class="form-text text-danger"
                           *ngIf="campoNoValido('username')">
                       El usuario es un campo obligatorio
                   </span>
                </div>
            </div>
            <!-- password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="password"
                           placeholder="Password">
                           <span class="form-text text-danger"
                           *ngIf="campoNoValido('password')">
                       El password debe de contener al menos 6 caracteres
                   </span>
                </div>
            </div>
             <!-- password -->
             <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           formControlName="confirmarPass"
                           placeholder="confirmar password">
                           <span class="form-text text-danger"
                           *ngIf="campoNoValido('confirmarPass')">
                       Los password deben coincidir
                   </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="miFormulario.pending"
                            >Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>FormValid: <strong>{{miFormulario.valid}}</strong> </h2>
<h2>Status: <strong>{{miFormulario.status}}</strong> </h2>
<h2>FormErrors</h2>
<pre> {{miFormulario.errors | json}} </pre>
<br>
<h5>Nombre</h5>
<pre> {{miFormulario.controls['nombre'].errors | json}} </pre>
<h5>email</h5>
<pre> {{miFormulario.controls['email'].errors | json}} </pre>
<h5>username</h5>
<pre> {{miFormulario.controls['username'].errors | json}} </pre>
<h5>password</h5>
<pre> {{miFormulario.controls['password'].errors | json}} </pre>
<h5>confirmrPass</h5>
<pre> {{miFormulario.controls['confirmarPass'].errors | json}} </pre>