<h2> Por País</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- los parentesis indican que esta escuchado -->
        <app-pais-input 
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholder="Buscar por país..."
        ></app-pais-input>
    </div>
</div>
<hr>
<div *ngIf="hayError" 
class="alert alert-danger">
    <h6>
        no se econtró nada con el termino de busqueda: {{termino}}
    </h6>
</div>
<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <!-- los corchetes indican que esta emitiendo -->
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>

